$blanco : #fff;
$tran : rgba(255, 255, 255, 0.2);
$griss: rgba(230, 230, 230, 0.4);
$azulMen: rgba(0, 57, 143, 0.685);
$azul: #05014ae8;
$azulTrs: rgba(0, 57, 143, 0.95);
$plomo: #4D4D4D;
$naranja: #DA6207;
$naranjaTrs: rgba(218, 98, 7, 0.5);

@import url("servicios.css");
@import url("acercaNosotros.css");
@import url("tecnologia.css");
@import url("contador.css");
@import url("contacto.css");
@import url("footer.css");

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    //font-family: 'Barlow', sans-serif;
    font-family: 'Muli', sans-serif;
    scroll-behavior: smooth; 
    width: 100% !important;

}
ul li{ list-style: inside;}
.no-list{}

.text-c{text-align: center;}
.text-j{text-align: justify;}
.bg-blue{background: $azul;}


.icons-svg{
    /*font-size: 1.5em;*/
    stroke-width: 7%;
    /*max-width: 47rem;*/
    
    .bs-icon{
        display: inline-block;
        fill: none;
        margin: 0.2em;
        font-size: 1em;
        width: 1em;
        height: 1em;
        stroke: currentColor;
        stroke-width: inherit;
        stroke-linecap: inherit;
        stroke-linejoin: inherit;
        overflow: visible;
        box-sizing: initial;
    }
    .bs-logos{
        display: inline-block;
        fill: none;
        font-size: 1em;
        width: 1em;
        stroke: currentColor;
        stroke-width: inherit;
        stroke-linecap: inherit;
        stroke-linejoin: inherit;
        overflow: visible;
        height: 0.5em;
    }
}

/* Iconos */
.icons-mvdv{
	font-size: 1em;
	stroke-width: 4%;
	max-width: 47rem;
	
	color: var(--c-scale-70);
	stroke-linecap: round;
	stroke-linejoin: round;
	
	.i-hover{
		color: var(--c-action);
		transform: translateY(140px);
	}
}
.icons-mvdv .ico-whatsapp{
	color: var(--c-blanco);
}
.icons-item{
	display: inline-block;
	font-size: 1.5em;
	margin: 0.2em;
	width: 1em;
	stroke: currentColor;
	stroke-width: inherit;
	stroke-linecap: inherit;
	stroke-linecap: inherit;
	overflow: visible;
	fill: none;
	max-width: 100%;
}
.icons-item-bg{
	display: inline-block;
	font-size: 2em;
	margin: 0.2em;
	width: 1em;
	stroke: none;
	max-width: 100%;
}

.c-white{color: white;}

#pages-legales{
    #fixHed, nav{
        position: static !important;
        width: 100%;
    }
}
header{
    padding: 25px 15%;
    &.banner-home{
        //width: 100%;
        height: 500px;
        background: url("/imagen/headerBanner2.jpg");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-position: center center;
        -webkit-background-position: center center;
        -moz-background-position: center center;
        -o-background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-repeat: no-repeat;
        -moz-background-repeat: no-repeat;
        -o-background-repeat: no-repeat;

    }

    .logoCont{
        color: $blanco;

        display: flex;
        justify-content: space-between;
        height: 100%;
        img{
            width: 90px;
        }
        #btnHeaderVc{
            border: 2px solid rgba($naranja, 1) !important;
            background: rgba($blanco, 0.1);
            padding: 7px 20px;
            cursor: pointer;
            border-radius: 20px;
            border-style: none;
            font-size: 18px;
            text-decoration: none;
            color: $blanco;

            box-shadow: 0 2px 7px black;
            transform: translateY(7px);

        }
        #btnHeaderVc:hover{
            background: rgba($blanco, 0.3);
        }
        .fono{
            font-size: 14px;
            display: flex;
            align-items: flex-end;
            //align-self: flex-end;

            transform: translateY(2px);
        }

    }
    .fixHed{
        width: 70%;
        position: fixed;
        z-index: 30000;
        transition: all 0.5s;

        
    }
    #iconMenu{
        display: none;
    }
    .menuDespl, label{
        display: none;
    }
    hr{
        margin: 15px 0 5px 0;
        border: 0.5px solid $griss;
        display: none;
    }
    
    nav{
        position: fixed;
        left: 0;
        right: auto;
        transform: translateX(-100%);
        @media (min-width:1024px){
            transform: translateX(0%);
            width: 100%;
        }
        .menuInc{
            display: flex;
            justify-content: space-around;

            li{
                width: 100%;
                text-align: center;
                list-style: none;
                margin: 25px 0px;
                //border-radius: 3px;
                position: relative;
                transition: all 0.35s;
                

                a{
                    text-decoration: none;
                    color: $blanco;
                    font-size: 15px;
                }

                &:before{
                    content: "";
                    width: 100%;
                    height: 2px;
                    justify-content: center;
                    background: $tran;
                    transition: all 0.3s;

                    position: absolute;
                    top: -30px;
                    left: 0;
                    right: 0;
                    margin: auto;
                }

                span{
                    //background: $naranja;
                    width: 100%;
                    height: 0px;
                    padding: 15px 0;
                    border-radius: 0 0 10px 10px; 
                    position: absolute;
                    top: -15px;
                    left: 0;
                    cursor: pointer;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: all 0.2s;
                }
            }
            hr{
                margin-top: 8px;
            }
            li:hover{
                
                a{
                    //color: $azul;
                }
                &:before{
                    content: "";
                    cursor: pointer;
                    width: 100%;
                    height: 5px;
                    //background: $naranjaTrs;
                    //border-radius: 0 0 15px 15px; 

                    position: absolute;
                    top: -20px;
                    left: 0;
                }
                span{
                    width: 100%;
                    height: 10px;
                    transition: all 0.2s;
                    background: $tran;
                    
                    
                }
            }
        }
        #btn_6vc{
            color: $blanco;
            
            display: none;
            a{
                text-decoration: none;
            }
        }
    }
    .headerCont{
        color: $blanco;
        text-align: center;
        
        display: flex;
        flex-direction: column;
        
        transform: translateY(250px);


        h2{
            color: rgba($blanco, 0.6);
            font-size: 17px;
            font-family: 'Quicksand', sans-serif;
        }
        .botnsPrinc{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 20px;
        }   
            #misvacaciones, #vermas{
                padding: 8px 30px;
                margin: 20px;
                cursor: pointer;
                border-radius: 20px;
                border-style: none;
                font-size: 18px;
                text-decoration: none;
                box-shadow: 0 2px 7px black;
            }
            #misvacaciones{
                background: $naranja;
                color: $blanco;
                
            }
            #vermas{
                background: none;
                color: $blanco;
                border: 1px solid $blanco;
            }
            #misvacaciones:hover, #vermas:hover{
                background: rgba($blanco, 0.3);
            }
    }
}


////// ----------------- ///////////////

@media (max-width: 992px){
    header, .acercaNosotros, .reconocimiento, .tecnologia, .viajPlant, .contFoot{
        padding: 25px 5%;
        
        .fixHed{
            width: 90%;
        }
    }
}

@media (max-width: 640px){
    
    header{
        .logoCont{
            justify-content: center !important;
            .fono{
                display: none;
            }
        }
        /**/.fixHed{
            position: fixed;
            z-index: 50000;
            background: $azul;
            box-shadow: 0 2px 5px black;
            width: 100%;
            margin: 0;
            top: 0;
            left: 0;
        }
        #btnHeaderVc{
           display: none;
        }
        
        nav{           
            background: rgba($azul,0.9);
            width: 100%;
            height: 100vh;
            
            // transform: translateX(-100%) !important;
            // -webkit-transform: translateX(-100%)!important;
            // -moz-transform: translateX(-100%)!important;
            // -o-transform: translateX(-100%)!important;
            
            -webkit-transition: all 0.2s;
            -moz-transition: all 0.2s;
            -o-transition: all 0.2s;

            .menuInc{
                flex-direction: column;
                cursor: pointer;

                li{
                    padding: 0px 0;
                    margin: 25px 0px;
                    span{
                        padding-left: 15px;
                        justify-content: start;
                    }
                   
                }
            }
                    #btn_6vc{
                        padding: 15px 150px;
                        background: $naranja;
                        border-radius: 0 0 50px 50px !important;
                    }
                    #btn_6vc:hover{
                        background: rgba($blanco,0.5);
                    }
        }
        
        .menuDespl{
            display: flex;
            float: right;
            
            font-size: 30px;
            transform: translateY(-50px);

        }
        label{
            display: flex;
            cursor: pointer;
            color: $blanco;
            font-size: 30px;
            position: relative;

            .btn_men{
                font-size: 40px !important;
                
            }
            .btn_men:before, .btn_men:after{
                content: "";
                background: $blanco;
                width: 100%;
                height: 5px;
                border-radius: 5px;

                position: absolute;
                
            }
            .btn_men:before{
                top: 12px;
                left: 0;
            }
            .btn_men:after{
                top: 24px;
                left: 0;
            }
        }
        label:active .btn_men{
            transform: rotate(10deg);
        }
        // #iconMenu:checked ~ nav{
        //     transform: translateX(0%) !important;
        //     transition: all 0.2s;

        // }
        .headerCont{
            
            transform: translateY(200px);
            
            #misvacaciones, #vermas{
                width: 100%;
                margin: 10px;
            }
        }
    }

    .animacionH{
        //display: none;
        &:before{
            display: none;
        }
    }
}

.traslate-x{
    transform: translateX(0%);
    transition: all .3s ease;
}

// ------ Otros Estilos ------- //

.Mvacaciones{
    display: none;
}
.animacion{
    top: 0;
    transition: all 0.5s;
}
.animacionH{
    
    &:before{
        content: "";
        width: 100%;
        height: 120px;
        background: $azul;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;

        box-shadow: 0 2px 6px black;
    }
}

.seleccionado{
    background: $tran;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    /*display: flex;
    justify-content: space-around;*/

    border-radius: 0 0 15px 15px;
    transition: all 0.2s;
}
