.services {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  transform: translateY(-80px);
  -webkit-transform: translateY(-80px);
  -moz-transform: translateY(-80px);
  -o-transform: translateY(-80px);
  font-size: 12px;
  transition: all 0.35s;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services .tarjServ {
  width: 200px;
  height: 250px;
  -webkit-box-shadow: 0 0 17px rgba(77, 77, 77, 0.2);
          box-shadow: 0 0 17px rgba(77, 77, 77, 0.2);
  margin: 0 10px;
  position: relative;
}

.services .tarjServ .imagen1, .services .tarjServ .imagen2, .services .tarjServ .imagen3 {
  width: 100%;
  height: 150px;
}

.services .tarjServ .imagen1 {
  background: url("/imagen/airport.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.services .tarjServ .imagen2 {
  background: url("/imagen/men.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.services .tarjServ .imagen3 {
  background: url("/imagen/central-embassy.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.services .tarjServ .imagen1:hover, .services .tarjServ .imagen2:hover, .services .tarjServ .imagen3:hover {
  filter: saturate(50%);
  -webkit-filter: saturate(50%);
}

.services .tarjServ .iconServ {
  width: 100%;
  height: 3px;
  background: rgba(218, 98, 7, 0.8);
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.services .tarjServ .atenServ {
  padding: 5px 15px;
  color: #4D4D4D;
}

.services .tarjServ .atenServ h3 {
  font-size: 12px;
}

.services .tarjServ .atenServ h1 {
  font-size: 17px;
}

.services .tarjServ .atenServ p {
  font-size: 10px;
  color: #8a8a8a;
  margin-top: 5px;
}

.services .tarjServ:hover .iconServ {
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 550px) {
  #servicios {
    width: 100%;
  }
  .services .tarjServ {
    width: 150px !important;
    height: 230px !important;
    margin: 0 3px !important;
  }
  .services .tarjServ .atenServ {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .services .tarjServ .atenServ p {
    display: none;
  }
  .services .dis2 {
    width: 120px !important;
    height: 210px !important;
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
  .services .imagen1:hover, .services .imagen2:hover, .services .imagen3:hover {
    filter: saturate(100%) !important;
    -webkit-filter: saturate(100%) !important;
  }
}
/*# sourceMappingURL=servicios.css.map */