.tecnologia {
  background: url("../imagen/fond-tecnol.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-position: center center;
  -webkit-background-position: center center;
  -moz-background-position: center center;
  -o-background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-repeat: no-repeat;
  -moz-background-repeat: no-repeat;
  -o-background-repeat: no-repeat;
  padding: 25px 15%;
}

.tecnologia .tecnDes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*flex-wrap: wrap;*/
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tecnologia .tecnDes .contDes, .tecnologia .tecnDes .titCont {
  width: 380px;
  height: 250px;
  margin: 25px 0;
}

.tecnologia .tecnDes .contDes {
  font-family: 'Quicksand', sans-serif;
  border: 4px solid #fff;
  padding: 10px;
  color: #fff;
  position: relative;
}

.tecnologia .tecnDes .contDes h2 {
  padding: 18px 12px;
}

.tecnologia .tecnDes .contDes p {
  font-size: 13px;
  padding: 0px 12px;
  font-weight: lighter;
}

.tecnologia .tecnDes .contDes h2:before {
  content: "";
  width: 100px;
  height: 50px;
  background: #003A8F;
  position: absolute;
  top: 0;
  left: 22px;
  transform: translateY(-25px);
  -webkit-transform: translateY(-25px);
  -moz-transform: translateY(-25px);
}

.tecnologia .tecnDes .contDes .imge1, .tecnologia .tecnDes .contDes .imge2, .tecnologia .tecnDes .contDes .imge3 {
  position: absolute;
  top: 0;
  left: 40px;
}

.tecnologia .tecnDes .contDes .imge1 {
  width: 70px;
  height: 55px;
  background: url("../imagen/relojIcon-01.png");
  background-size: 70px 55px;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
}

.tecnologia .tecnDes .contDes .imge2 {
  width: 70px;
  height: 55px;
  background: url("../imagen/avionIcon-a-01.png");
  background-size: 70px 55px;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
}

.tecnologia .tecnDes .contDes .imge3 {
  width: 80px;
  height: 55px;
  background: url("../imagen/lupaIcon-01.png");
  background-size: 80px 55px;
  transform: translateY(-30px);
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
}

.tecnologia .tecnDes .contDes:hover {
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.tecnologia .tecnDes .titCont {
  padding: 0 32px 0 0;
}

.tecnologia .tecnDes .titCont h1 {
  color: #fff;
  padding-top: 80px;
  font-size: 3em;
}

.tecnologia .tecnDes .titCont p {
  color: rgba(230, 230, 230, 0.4);
}

@media (max-width: 1200px) {
  .tecnDes .contDes, .tecnDes .titCont {
    width: 320px !important;
  }
}

@media (max-width: 800px) {
  .tecnDes {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .tecnDes .contDes, .tecnDes .titCont {
    width: 100% !important;
    height: 275px !important;
  }
  .tecnDes .contDes p, .tecnDes .titCont p {
    font-size: 14px !important;
  }
  .tecnDes .contDes:hover {
    transform: rotate(0deg) !important;
    -webkit-transform: rotate(0deg) !important;
    -moz-transform: rotate(0deg) !important;
    -o-transform: rotate(0deg) !important;
  }
}
/*# sourceMappingURL=tecnologia.css.map */